###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/reference.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> infrastructure ###
/.castor.stub.php
/.home/
/infrastructure/docker/docker-compose.override.yml
/infrastructure/docker/services/router/certs/*.pem
###< infrastructure ###

.twig-cs-fixer.cache

